<style>
</style>

<div id="favorites">
    <p>{{resourceBundle.settings.tabs.favorites.description}}</p>

    <table class="table table-condensed">
        <thead>
            <th data-i18n='settings.column.title'>Titel</th>
            <th data-i18n='settings.column.date_start'>Start</th>
            <th data-i18n='settings.column.date_end'>Eind</th>
            <th></th>
        </thead>
        <tbody>
            <tr data-ng-repeat="entry in watchlist.result track by entry.db_id">
                <td><span>{{entry.titel}}</span></td>
                <td><span>{{entry.datum_start | limitTo : -8}}</span></td>
                <td><span>{{entry.datum_end | limitTo : -8}}</span></td>
                <td><a ng-click="removeFavorite(entry.db_id)"><i class="fa fa-ban" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
      
    </table>

    
</div>